<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleIntegrationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32014B561C325BFE00E4188B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32014B6F1C325BFE00E4188B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32014B7A1C325BFE00E4188B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
